<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/dashboard"> Product Management </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarContent"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarContent">
      <!-- Left side -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" routerLink="/products"> Products </a>
        </li>
      </ul>
      <div class="d-flex align-items-center text-dark">
        <span class="me-3"> {{ username }} </span>
        <button class="btn btn-outline-primary btn-sm" (click)="logout()">
          Logout
        </button>
      </div>
    </div>
  </div>
</nav>
